@media screen and (max-width:1023px) {
    main{
        margin-top: 10vw;
        margin-left: 5vw;
    }
    main h1{
        color: #fb8500;
        font-family: 'Jersey 15', sans-serif;
        font-size: 7vw;
    }
    main p{
        color: white;
        font-family: "Afacad", sans-serif;
        font-size: 3vw;
    }

    footer{
        margin-top: 44vw;
    }
}

@media screen and (min-width: 1024px) {
    main{
        margin-top: 5vw;
        margin-left: 5vw;
    }
    main h1{
        color: #fb8500;
        font-family: 'Jersey 15', sans-serif;
        font-size: 3vw;
    }
    main p{
        color: white;
        font-family: "Afacad", sans-serif;
        font-size: 1vw;
    }

    footer{
        margin-top: 11.2vw;
    }
}