@media screen and (max-width: 1023px) {
    body{
        margin: 0;
        background-color: #0F1428;
    }
    nav{
        width: 100%;
        padding-top: 1vh;
        background-color: #ed5f2a;
        height: 5vh;
        position: fixed;
    }
    nav a{
        margin-left: 2%;
        color: white;
        text-decoration: none;
        font-family:"Afacad", sans-serif;
        font-size: 2vh;
    }
    
    main img{
        margin-top: 4vh;
        width: 100%;
    }
    main h1{
        margin-left: 7vw;
        margin-top: -5vh;
        color: white;
        font-family: "Jersey 15";
        font-size: 5vh;
        letter-spacing: 0.2vw;
    }

    article{
        display: flex;
        flex-wrap: wrap;
    }

    .card-games{
        border: 3px solid #FB8500;
        padding: 15px;
        margin-left:20%;
        margin-bottom: 2vh;
        width: 50%;
        height: 40vh;
        border-radius: 20px;
    }
    .card-games img {
        border-radius: 20px;
        margin-top: -1vh;
        width: 100%;
        height: auto;
    }
    .card-games h2 {
        margin-top: 0;
        margin-bottom: 0;
        font-family: "Jersey 15", sans-serif;
        font-size: 4vh;
        color: #FB8500;
    }
    .card-games p {
        margin-top: 1vh;
        color: white;
        font-family: "Jersey 15", sans-serif;
        font-size: 2vh;
    }
    .card-games button {
        margin-top: -2.5vh;
        margin-left: 75%;
        padding: 10px;
        border-radius: 30px;
        background: linear-gradient(90deg,#FF9000, #CF2929, #FF7B00);
        color: white;
        font-family: "Jersey 15", sans-serif;
        font-size: 1vh;
        cursor: pointer;
    }

    hr{
        margin-top: 7vh;
        margin-bottom: 5vh;
    }

    section h1{
        margin-left: 7vw;
        color: white;
        font-family: "Jersey 15", sans-serif;
        font-size: 10vh;
        letter-spacing: 0.2vw;
    }
    section p{
        margin-left: 7vw;
        width: 65%;
        color:white;
        font-size: 2.5vh;
        font-family: "Jersey 15", sans-serif;
    }

    footer {
        margin-top:13vh;
        background-color: #202A45;
        color: white;
        font-family: "Afacad",sans-serif;
        display: flex;
        height: 50vh;
    }

    footer img{
        margin-top: 10vh;
        height: 15vw;
        width: 15vw;
        margin-left: 5vw;
    }

    #nome{
        display: none;
    }
    
    #navegação{
        width: 25vw;
        height: 25vh;
        margin-left: 5vw;
        margin-top: 2vh;
    }
    #navegação h1{
        margin-left: auto;
        font-size: 3vh;
    }
    #navegação a {
        margin-top: 0;
        color: white;
        text-decoration: none;
        font-size: 2vh;
    }

    #email{
        width: 47vw;
        height: 20vh;
    }
    #email h1{
       font-size: 3vh; 
       margin-left: 20vw;
       margin-top: 4vh;
    }
    #email p{
        margin-left: 1.5vw;
        font-size: 2vh;
    }

    #sigaNos {
        width: 100%;
        height: 10vh;
        margin-top: 27vh;
        margin-left: -97vw;
        display: flex;
    }
    #sigaNos h1{
        display: none;
    }
    #sigaNos div{
        width: 5vh;
        height: 5vh;
        margin-left: 5vh;
    }
}

@media screen and (min-width:1024px){
    body{
        margin: 0;
        background-color: #0F1428;
    }
    nav{
        width: 100%;
        padding-top: 1vh;
        background-color: #ed5f2a;
        height: 5vh;
        position: fixed;
    }
    nav a{
        margin-left: 2%;
        color: white;
        text-decoration: none;
        font-family:"Afacad", sans-serif;
        font-size: 2vh;
    }
    
    main img{
        width: 100%;
    }
    main h1{
        margin-left: 7vw;
        margin-top: -7vh;
        color: white;
        font-family: "Jersey 15";
        font-size: 10vh;
        letter-spacing: 0.2vw;
    }

    article{
        display: flex;
    }

    .card-games{
        border: 3px solid #FB8500;
        padding: 20px;
        margin-left:5%;
        margin-right: 5%;
        width: 30%;
        height: 65vh;
        border-radius: 20px;
    }
    .card-games img {
        width: 100%;
        height: auto;
    }
    .card-games h2 {
        margin-top: 0;
        margin-bottom: 0;
        font-family: "Jersey 15", sans-serif;
        font-size: 4vh;
        color: #FB8500;
    }
    .card-games p {
        margin-top: 1vh;
        color: white;
        font-family: "Jersey 15", sans-serif;
        font-size: 2vh;
    }
    .card-games button {
        margin-top: 20%;
        margin-bottom: 0;
        margin-left: 75%;
        padding: 10px;
        border-radius: 30px;
        background: linear-gradient(90deg,#FF9000, #CF2929, #FF7B00);
        color: white;
        font-family: "Jersey 15", sans-serif;
        font-size: 2vh;
        cursor: pointer;
    }

    hr{
        margin-top: 7vh;
        margin-bottom: 5vh;
    }

    section h1{
        margin-left: 7vw;
        color: white;
        font-family: "Jersey 15", sans-serif;
        font-size: 10vh;
        letter-spacing: 0.2vw;
    }
    section p{
        margin-left: 7vw;
        width: 40%;
        color:white;
        font-size: 2.5vh;
        font-family: "Jersey 15", sans-serif;
    }

    footer {
        margin-top:13vh;
        background-color: #202A45;
        color: white;
        font-family: "Afacad",sans-serif;
        display: flex;
        height: 50vh;
    }

    footer img{
        margin-top: 10vh;
        height: 13vw;
        width: 13vw;
        margin-left: 15vw;
    }

    #nome{
        height: 20vh;
        margin-top: 14vh;
        margin-left: -2vw;

    }
    #nome h1{
        margin-top: 0;
        font-size: 7vh;
    }
    #nome h2{
        font-size:6vh;
        margin-top: -8vh;
    }
    #nome h3{
        font-size: 5vh;
        margin-top: -8vh;
    }
    
    #navegação{
        width: 8vw;
        margin-left: 5vw;
        margin-top: 11vh;
    }
    #navegação h1{
        margin-left: auto;
        font-size: 4vh;
    }
    #navegação a {
        margin-top: 0;
        color: white;
        text-decoration: none;
    }

    #email h1{
       font-size: 4vh; 
       margin-left: 4vw;
       margin-top: 13.5vh;
    }
    #email p{
        margin-left: 1.5vw;
    }

    #sigaNos h1{
        font-size: 4vh;
        margin-left: 1.5vw;
        margin-top: 13vh;
    }
    #sigaNos div{
        margin-left: 1.7vw;
    }
}