@media screen and (max-width: 1023px) {
    main img{
        margin-top: 4vh;
        width: 100%;
    }
    main h1{
        margin-left: 7vw;
        margin-top: -5vh;
        color: white;
        font-family: "Jersey 15";
        font-size: 5vh;
        letter-spacing: 0.2vw;
    }

    article{
        display: flex;
        flex-wrap: wrap;
    }

    .card-games{
        border: 3px solid #FB8500;
        padding: 15px;
        margin-left:20%;
        margin-bottom: 2vh;
        width: 50%;
        height: 40vh;
        border-radius: 20px;
    }
    .card-games img {
        border-radius: 20px;
        margin-top: -1vh;
        width: 100%;
        height: auto;
    }
    .card-games h2 {
        margin-top: 0;
        margin-bottom: 0;
        font-family: "Jersey 15", sans-serif;
        font-size: 4vh;
        color: #FB8500;
    }
    .card-games p {
        margin-top: 1vh;
        color: white;
        font-family: "Jersey 15", sans-serif;
        font-size: 2vh;
    }
    .card-games button {
        margin-top: -2.5vh;
        margin-left: 75%;
        padding: 10px;
        border-radius: 30px;
        background: linear-gradient(90deg,#FF9000, #CF2929, #FF7B00);
        color: white;
        font-family: "Jersey 15", sans-serif;
        font-size: 1vh;
        cursor: pointer;
    }

    hr{
        margin-top: 7vh;
        margin-bottom: 5vh;
    }

    section h1{
        margin-left: 7vw;
        color: white;
        font-family: "Jersey 15", sans-serif;
        font-size: 10vh;
        letter-spacing: 0.2vw;
    }
    section p{
        margin-left: 7vw;
        width: 65%;
        color:white;
        font-size: 2.5vh;
        font-family: "Jersey 15", sans-serif;
    }
}

@media screen and (min-width:1024px){
    main img{
        width: 100%;
    }
    main h1{
        margin-left: 7vw;
        margin-top: -7vh;
        color: white;
        font-family: "Jersey 15";
        font-size: 10vh;
        letter-spacing: 0.2vw;
    }

    article{
        display: flex;
    }

    .card-games{
        border: 3px solid #FB8500;
        padding: 20px;
        margin-left:5%;
        margin-right: 5%;
        width: 30%;
        height: 65vh;
        border-radius: 20px;
    }
    .card-games img {
        width: 100%;
        height: auto;
    }
    .card-games h2 {
        margin-top: 0;
        margin-bottom: 0;
        font-family: "Jersey 15", sans-serif;
        font-size: 4vh;
        color: #FB8500;
    }
    .card-games p {
        margin-top: 1vh;
        color: white;
        font-family: "Jersey 15", sans-serif;
        font-size: 2vh;
    }
    .card-games button {
        margin-top: 20%;
        margin-bottom: 0;
        margin-left: 75%;
        padding: 10px;
        border-radius: 30px;
        background: linear-gradient(90deg,#FF9000, #CF2929, #FF7B00);
        color: white;
        font-family: "Jersey 15", sans-serif;
        font-size: 2vh;
        cursor: pointer;
    }

    hr{
        margin-top: 7vh;
        margin-bottom: 5vh;
    }

    section h1{
        margin-left: 7vw;
        color: white;
        font-family: "Jersey 15", sans-serif;
        font-size: 10vh;
        letter-spacing: 0.2vw;
    }
    section p{
        margin-left: 7vw;
        width: 40%;
        color:white;
        font-size: 2.5vh;
        font-family: "Jersey 15", sans-serif;
    }
}
